.questions_container{
    *,*:before,*:after{
        box-sizing: inherit;
      }
.jumbotron{
    background: #3454D1;
    color: #fff;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
}
.questions_box{
    background: #fff;
    margin-top:80px
}
.box{
  margin: 30px auto;
}
  .question_item{
    background: #fff;
    margin: 40px auto;
    padding: 20px 20px;
    border: 1px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  }
  input[type=radio] {
    margin: 10px;
  }
}